ol.entries
	display flex
	margin-bottom 0
	flex 1
	flex-direction column
	justify-content center
	> li
		margin-bottom 1rem
		&:last-child
			margin-bottom 0

.card.h-entry
	.e-content > :last-child
		margin-bottom 0
	.card-footer
		display flex
		justify-content space-evenly
		flex-wrap wrap
		.h-card > img
			height 1em
			vertical-align baseline
