$sm =  576px
$md =  768px
$lg =  992px
$xl = 1200px

main
	flex-direction column
	align-items center
	aside.author
		margin-bottom 1rem
		.p-note > :last-child
			margin-bottom 0
	@media (min-width $md)
		flex-direction row-reverse
		align-items unset
		aside.author
			margin-bottom 0
		ol.entries
			margin-right 2rem
			justify-content flex-start
