{% load analytical compress favtags lemoncurry_tags meta static theme_colour %}<!doctype html>
<html dir="ltr" lang="en" class="{% block html_class %}{% endblock %}">
	<head{% meta_namespaces %}>{% site_name as site_name %}{% request_uri request as uri %}{% request_origin request as origin %}
		{% analytical_head_top %}
		<base href="{{ origin }}" />
		<title class="p-name">{% if title %}{{ title }} ~ {% endif %}{{ site_name }}</title>
		<meta charset="utf-8" />
		<meta http-equiv="x-ua-compatible" content="ie=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<link rel="canonical" href="{{ uri }}" />
		{% if atom %}<link rel="alternate" type="application/atom+xml" href="{% url atom %}" />{% endif %}
		{% if rss %}<link rel="alternate" type="application/rss+xml" href="{% url rss %}" /> {% endif %}
		{% block head %}{% endblock %}

		<link rel="authorization_endpoint" href="{{ origin }}{% url 'lemonauth:indie' %}" />
		<link rel="token_endpoint" href="{{ origin }}{% url 'lemonauth:token' %}" />
		<link rel="micropub" href="{{ origin }}{% url 'micropub:micropub' %}" />
		<link rel="openid.delegate" href="{{ origin }}" />
		<link rel="openid.server" href="https://openid.indieauth.com/openid" />

		<link rel="hub" href="{% get_push_hub %}" />
		<link rel="self" href="{{ uri }}" />
 
		<link rel="manifest" href="{% url 'wellknowns:manifest' %}" />
		<meta name="theme-color" content="{% theme_colour 2 %}" />

		<meta property="og:url" content="{{ uri }}" />
		<meta property="og:title" content="{% firstof title site_name %}" />
		{% include 'meta/meta.html' %}
		{% placeFavicon %}

		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
					integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
		{% compress css %}
		<link rel="stylesheet" type="text/css" href={% static 'openwebicons/css/openwebicons.css' %} />
		<link rel="stylesheet" type="text/css" href={% static 'tippy.js/tippy.css' %} />
		<link rel="stylesheet" type="text/stylus" href="{% static 'lemoncurry/css/layout.styl' %}" />
		{% block styles %}{% endblock %}
		{% endcompress %}
		<script type="text/javascript" defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
		{% analytical_head_bottom %}
	</head>
	<body>
		{% analytical_body_top %}
		<header>
			<nav class="navbar navbar-expand-md navbar-dark">
				<a class="navbar-brand" rel="home" href="{% url 'home:index' %}">{% site_name %}</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar"
								aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbar">
					{% nav_left request %}
					{% nav_right request %}
				</div>
			</nav>
			{% if request.resolver_match.view_name %}
			{% nav_crumbs request.resolver_match.view_name %}
			{% endif %}
		</header>

		<main>
			{% block main %}{% endblock %}
		</main>

		<footer>
			<p>all content licensed under <a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/">cc by-sa 4.0</a></p>

			{% if entries.has_other_pages %}
			<nav>
				<ul class="pagination">
					{% if entries.prev %}
					<li class="page-item">
						<a class="page-link" rel="prev" href="{{ entries.prev.url }}">
							<i class="fas fa-step-backward"></i><span class="sr-only">previous page</span>
						</a>
					</li>
					{% endif %}

					{% for page in entries.pages %}
					{% if page.current %}
					<li class="page-item active">
						<span class="page-link">{{ page.i }} <span class="sr-only">(current page)</span></span>
					</li>
					{% else %}
					<li class="page-item">
						<a class="page-link" href="{{ page.url }}">{{ page.i }}</a>
					</li>
					{% endif %}
					{% endfor %}

					{% if entries.next %}
					<li class="page-item">
						<a class="page-link" rel="next" href="{{ entries.next.url }}">
							<i class="fas fa-step-forward"></i><span class="sr-only">next page</span>
						</a>
					</li>
					{% endif %}
				</ul>
			</nav>
			{% endif %}

			{% get_package_json as package %}
			<p>powered by <a rel="code-repository" href="{{ package.repository }}/tree/v{{ package.version }}">{{ package.name }} {{ package.version }}</a></p>
		</footer>

		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" crossorigin="anonymous"
						integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" crossorigin="anonymous"
						integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" crossorigin="anonymous"
						integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"></script>

		{% compress js %}
		<script src="{% static 'tippy.js/tippy.standalone.js' %}"></script>
		{% block foot %}{% endblock %}
		{% endcompress %}
		{% analytical_body_bottom %}
	</body>
</html>
