{% extends 'lemoncurry/layout.html' %}
{% block head %}
    <link rel="shortlink" href="{{ entry.short_url }}" />
    <link rel="alternate" type="application/json+oembed" href="https://wirres.net/oembed/oembed/php?url={{ entry.absolute_url | urlencode }}" />
{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/stylus" href="{{ static('entries/css/h-entry.styl') }}" />
{% endblock %}

{% import 'entries/h-entry.html' as h %}
{% block main %}
      <div class="entry">
        {{ h.hEntry(entry, indent_width=8) }}
      </div>
{% endblock %}
