<div class="form-group{% if field.errors %} has-error{% endif %}">
	<label for="{{ field.id_for_label }}">{{ field.label | lower }}</label>
	<input id="{{ field.id_for_label }}" class="form-control" type="{{ field.field.widget.input_type }}"
				 name="{{ field.html_name }}"{% if field.value %} value="{{ field.value }}"{% endif %}{% if field.help_text %} aria-describedby="{{ field.id_for_label }}-help"{% endif %} />
	{% if field.help_text %}<p id="{{ field.id_for_label }}-help" class="form-text">{{ field.help_text }}</p>{% endif %}
</div>
