.h-x-app
	img
		height 2em
		margin-right .5em
.tippy-tooltip
	&.success-theme
		color $base0B
		background-color $base03
	&.warning-theme
		color $base0A
		background-color $base03
.verified-success
	color $base0B
.verified-warning
	color $base0A
